* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

p {
    font-size: 16px;
    line-height: 1.2rem;
}

/* Per far apparire la hero img*/
    body, html {
    height: 100%;
}


/*Riordinare codice, magari anche in pagine diverse
Controllare grandezza fonte in base al responsive*/




/*Per anchor link preciso*/
#about-me {
    position: absolute;
    bottom: 38px;
}

/*Sticky header che appare sopra tutto*/
.header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.666);
}

/*Link nella header*/
.link-container {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}


.link {
    /*Flex 1 per fare di grandezza uguale*/
    flex: 1;
    padding: 10px 0px;
    border-radius: 2px;
    /*Per centrare i link*/
    display: flex;
    justify-content: center;
}

.link a {
    text-decoration: none;
    color: white;
}

.hero-image {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(/assets/img/atlante.JPG);
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    /*Per centrare la scritta*/
    transform: translate(-50%, -50%);
    color: white;
}

.skill-box {
    display: flex;
    justify-content: space-around;
    margin: 14px 0px;
}

.icon {
    width: 80px;
}

/*Heading con linea e scritta al centro*/
.h2-heading {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, rgba(0,0,0,0.1), black, rgba(0,0,0,0.1));
    /*Per dividere la linea, inoltre se lo tolgo non si vede*/
    border-image-slice: 1;
    line-height: 0.1em;
    margin: 20px 0;
}

/*Questa è per la scritta centrale nella linea*/
.h2-heading span {
    background: #fff;
    padding: 0 10px;
    margin-top: 20px;
}

.paragraph {
    text-align: center;
    margin: 20px 0px;
    padding: 0px 25px;
}

.portfolio-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
} 

.portfolio-img {
    width: 200px;
    margin: 0px 10px;
}

.portfolio-paragraph {
    margin: 20px 0px;
    padding-left: 8px;
}

.date-box,
.description-box {
    display: flex;
    align-items: center;
    padding: 10px 5px;
    
}

.small-icon {
    width: 30px;
    margin-right: 5px;
}

footer {
    background-color: rgb(37, 36, 36);
    color: white;
    font-size: 14px;
    line-height: 1.1rem;
    padding: 8px 8px;
    text-align: center;
}

.quote-hero-image {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(/assets/img/11082022-DSC_3806.JPG);
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.icon-attribution {
    color: white;
}


/*Questo magari è da spostare in contact.css*/
.hero-image-contact-page {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(/assets/img/ratto.JPG);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#contact-form {
    width: 60%;
    height: 50%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;   
}


.name-box, .email-box {
    padding: 6px 6px 6px 30px;
    border-radius: 3px;
}

.name-box {
    background-color: #fff;
    background-image: url(/assets/img/user.png);
    background-size: 10px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

.email-box {
    background-color: #fff;
    background-image: url(/assets/img/mail.png);
    background-size: 10px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

textarea {
    resize: none;
    width: 100%;
    height: 50px;
    padding: 6px;
}

.send-button {
    width: 30%;
    align-self: center;
    cursor: pointer;
    padding: 8px 4px;
}

/*Fin qui è per la pagina dei contatti*/


/*Responsive tablet breakpoints*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
    p {
        font-size: 18px;
        line-height: 1.3rem;
    }
    
    .paragraph {
        width: 60%;
        margin: 20px auto;
    }
    
    .quote-hero-image {
        height: 50%;
    }

    /*
    
    Scurisce il bottone con hover */
    .link:hover{
        background-color: rgba(128, 128, 128, 0.666);
        transition: 0.4s;
    }

    .portfolio-img {
        width: 300px;
        margin: 10px 10px;
    }
}

/*Responsive laptops breakpoints*/

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    p {
        font-size: 20px;
        line-height: 1.4rem;
    }
    
    .paragraph {
        width: 50%;
        margin: 40px auto;
    }
    
    .hero-image{
        height: 90%;
    }

    .quote-hero-image {
        height: 60%;
    }

    /*Effetto hover per la header*/
    .link:hover{
        background-color: rgba(128, 128, 128, 0.666);
        transition: 0.4s;
    }

    .icon {
        width: 100px;
    }

    .portfolio-img {
        width: 400px;
        margin: 10px 10px;
    }
    

    /*Responsive per la contact page*/
    #contact-form {
        width: 50%;
    }



}

/*Responsive desktops breakpoints*/

@media only screen and (min-width: 1025px) {
    p {
        font-size: 22px;
        line-height: 1.45rem;
    }
    
    .paragraph {
        width: 45%;
        margin: 50px auto;
    }
    
    .hero-image{
        height: 100%;
    }

    .quote-hero-image {
        height: 70%;
    }

    .icon {
        width: 120px;
    }

    .portfolio-img {
        width: 700px;
        margin: 10px 10px;
    }

    /*Effetto hover per la header*/
    .link:hover{
        background-color: rgba(128, 128, 128, 0.666);
        transition: 0.4s;
    }

     /*Responsive per la contact page*/
     #contact-form {
        width: 40%;
    }


}